// http://ionicframework.com/docs/theming/
// App Shared Imports
// --------------------------------------------------

// global styles

//
//import for native refresh
//@import '../../node_modules/@ionic-native/ion-refresh-native/dist/scss/ion-refresh-native';
//lazy load

.menu-inner {
  ion-toolbar {
      text-align: center;
      height: 160px;
      img {
          width: 100px;
          height: 30%;
          border-radius: 50%;
          margin-top: 15%;
          border: 1px solid #222;
          box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.5);
          margin-bottom: 10%;
      }
  }
  .toolbar-background {
      background: $orange;
      border-width: 0px !important;
  }
  ion-content {
      background: $orange;
      .item {
          background-color: transparent !important;
          font-weight: 500 !important;
          padding-left: 30px !important;
      }
  }
}
