
      .btn-color-1 {
        background-image: linear-gradient(to right, #ee9ca7, #ffdde1);
      }
      
      .btn-color-2 {
        background-image: linear-gradient(to right, #0f2027, #203a43, #2c5364); 
      }
      
      .btn-color-3 {
        background-image: linear-gradient(to right, #c6ffdd, #fbd786, #f7797d);
      }
      
      .btn-color-4 {
        background: linear-gradient(to right, #ff0099, #493240);
      }
      
      .btn-color-5 {
        background-image:  linear-gradient(to right, #f12711, #f5af19);
      }
      .btn-color-6 {
        background-image:  linear-gradient(to right, #ff416c, #ff4b2b);
      }
      .btn-color-7 {
        background-image:  linear-gradient(to right, #ed213a, #93291e);
      }
      .btn-color-8 {
        background-image:  linear-gradient(to right, #ad5389, #3c1053);
      }
      .btn-color-9 {
        background-image:  linear-gradient(to right, #a8c0ff, #3f2b96);
      }
      .btn-color-10 {
        background-image:  linear-gradient(to right, #bc4e9c, #f80759);
      }
      .btn-color-11 {
        background-image:  linear-gradient(to right, #4e54c8, #8f94fb);
      }
      .btn-color-12 {
        background-image:  linear-gradient(to right, #40e0d0, #ff8c00, #ff0080);
      }
      .btn-color-13 {
        background-image:  linear-gradient(to right, #23074d, #cc5333);
      }
      .btn-color-14 {
        background-image:  linear-gradient(to right, #cac531, #f3f9a7);
      }
      .btn-color-15 {
        background-image:  linear-gradient(to right, #00f260, #0575e6);
      }
      .btn-color-16 {
        background-image:  linear-gradient(to right, #74ebd5, #acb6e5);
      }
      .btn-color-17 {
        background-image:  linear-gradient(to right, #03001e, #7303c0, #ec38bc, #fdeff9);
      }
      .btn-color-18 {
        background-image:  linear-gradient(to right, #e1eec3, #f05053);
      }
      .btn-color-19 {
        background-image:  linear-gradient(to right, #ff9966, #ff5e62);
      }
      .btn-color-20 {
        background-image:  linear-gradient(to right, #cc95c0, #dbd4b4, #7aa1d2);
      }

      .btn-color-success {
        background:linear-gradient(to right, #1d976c 0%, #93f9b9 100%); 
      }
      .btn-color-error {
        background:linear-gradient(to right, #ff512f, #dd2476);
      }

      .btn-color-gray {
        background:linear-gradient(to right, #bdc3c7, #2c3e50);
      }
